<div class="main-container-show">
      <div class="container">
      <div class="photo-center row"><%= cl_image_tag @cheval.photo, height: 500, width: 800, crop: :fill %></div>
      <div class="cheval-info row">
         <h1><%= @cheval.name %></h1>
         <h3><%= @cheval.category.name.capitalize %></h3>
         <p> Description: <%= @cheval.description %>
            Robe: <%= @cheval.robe.name %>
            Ville: <%= @cheval.ville %>
            Rue: <%= @cheval.rue %>
            La taille : <%= @cheval.taille.to_s.chars.first %>,<%= @cheval.taille.to_s.chars[-2..-1].join %> mètres au garot
            Pattes: <%= @cheval.pattes %> patte<% if @cheval.pattes > 1%><%="s"%><% end %>
         </p>
         <!-- Bouton de proprio -->
         <% if current_user && current_user.profile == @cheval.profile %>
         <%= link_to 'Edit', edit_cheval_path(@cheval), class: "btn btn-primary" %>
         <%= link_to 'Ce cheval est mort', cheval_path(@cheval), class: "btn btn-danger",  method: :delete, data: { confirm: "Le vétérinaire confirme ?" } %>
         <% end %>
         
         <!-- Bouton de noter de cheval sous conditions : si profil à fait un booking -->
         <% if current_user && @cheval.profiles.include?(current_user.profile) %>
         <%= link_to 'Noter ce cheval', new_cheval_review_path(@cheval), class: "btn btn-primary" %>
         <% end %>
         <%= link_to 'Retour a tous les chevals', chevals_path, class: "btn btn-primary" %>
         <h3>
         Les avis 
         <h3>
         <% @cheval.reviews.each do |review, rating| %>
         <li><%= review.content %> -  Etoiles : <%= review.rating %> </li>
         <% end%>
         </div>
      </div>
      <div class="sidebar-show-cheval">
      <!-- Bouton de location en fonction de profil : innexistant si proprio, location si user co,
            et renvoyer sur sign in si pas de user -->
         <% if current_user && current_user.profile != @cheval.profile %>
         <%= link_to 'Louer ce cheval', new_cheval_booking_path(@cheval), class: "btn btn-success btn-cheval" %>
         <% elsif current_user && current_user.profile == @cheval.profile %>
         <% else %>
         <%= link_to 'Louer ce cheval', new_user_session_path, class: "btn btn-success" %>
         <% end %>
      </div>

</div>