<h1>Ceci est la show page du profile !</h1>
<div class='container'>
  <div class='row'>
    <h2> Mon nom : <%= @profile.first_name %></h2>
    <h2> Mon prénom : <%= @profile.last_name %></h2>
    <h2> Mon numéro de téléphone : <%= @profile.phone_number %></h2>

  <div class='action'>
  <%= link_to 'Editer mon profil', edit_profile_path(@profile), class: "btn btn-primary" %>
  <%= link_to "Retour à la liste des chevaux", chevals_path, class:"btn btn-primary"%>
  </div>
</div>

