<h1>Ceci est la show page du profile !</h1>
<div class='container'>
  <div class='row'>
    <p> Mon nom : <%= @profile.first_name %></p>
    <p> Mon prénom : <%= @profile.last_name %></p>
    <p> Mon numéro de téléphone : <%= @profile.phone_number %></p>
    <% if current_user.profile.photo? %>
    <%= cl_image_tag @profile.photo, height: 150, width: 150, crop: :thumb, gravity: :face %>
    <% else %>
    <%= cl_image_tag "profilechevalempty", height: 150, width: 150 %>
    <% end %>
  <%= link_to 'Editer mon profil', edit_profile_path(@profile), class: "btn btn-primary" %>
  <%= link_to "Retour à la liste des chevaux", chevals_path, class:"btn btn-primary"%>
  </div>
</div>




