
  <div class='container'>
  <h1 class="text-center margin30bottom">Mon Profil</h1>
   </br>
   <div class='row'>
      <div class= "col-xs-6">
         <p> <b>Mon nom : </b> <%= @profile.first_name %></p>
         <p> <b>Mon prénom : </b><%= @profile.last_name %></p>
         <p> <b>Mon numéro de téléphone : </b> <%= @profile.phone_number %></p>
         </br>
      </div>
      <div class= "col-xs-6 margin30bottom">
         <% if current_user.profile.photo? %>
         <%= cl_image_tag @profile.photo, height: 200, width: 200, crop: :thumb, gravity: :face %>
         <% else %>
         <%= cl_image_tag "profilechevalempty", height: 200, width: 200 %>
         <% end %>
        </br>
      </div>
      </div>
      <div class="row">
      <div class= "col-xs-6 margin30bottom">
         <%= link_to "Retour aux chevals", chevals_path, class:"btn btn-primary btn-cheval"%>
      </div>
            <div class= "col-xs-6">
         <%= link_to 'Editer mon profil', edit_profile_path(@profile), class: "btn btn-primary btn-cheval" %>
         <%= link_to 'Modifier mes informations de connexion', edit_user_registration_path, class: "btn btn-primary btn-cheval" %>
      </div>
      </div>
   </div>
</div>
</div>
