<%= simple_form_for [@cheval, @booking] do |f| %>
  <h2>Début de la location : </h2>
  <%= f.date_field :start_date, as: :date,:value => Time.now.strftime('%Y-%m-%d'), html5: true, min: Date.today, discard_day: true, class: 'form-control form-control-lg' %>
  <h2>Fin de la location : </h2>
  <%= f.date_field :end_date, as: :date, min: Date.today, html5: true, placeholder: "ANNEE-MOIS-JOUR dans cette ordre cowboy", class: 'form-control form-control-lg' %>
  <h4 id="price_show"></h4>
  <%= f.input :message, label: 'Message obligatoire pour le cowboy (150 caractères maximum)', placeholder: 'Je souhaiterais louer votre cheval, pour faire des choses tout à fait normales avec.' %>
  <%= f.submit "Louer un Cheval", class: "btn btn-cheval text-center" %>
  </br></br>
<% end %>


<% content_for(:js) do %>
  <%= javascript_tag do %>

    const calcul = () => {
      const start_d = document.getElementById('booking_start_date');
      const end_d = document.getElementById('booking_end_date');
      const start = Date.parse(start_d.value);
      const end =  Date.parse(end_d.value);
      const days = (end - start) / 86400000;
      const price = <%= @cheval.price %>;
      total = days * price;
      if (total >=0) {
        document.getElementById('price_show').innerHTML = `Price : ${total} €`;
      } else {
        document.getElementById('price_show').innerHTML = `Rentre la date de retour de mon cheval`;
    }
    };
    setInterval(calcul, 100);

  <% end %>
<% end %>
