<%= link_to "Voir le cheval", cheval_path(@booking.cheval), class: "btn btn-warning" %>
<% if current_user.profile == @booking.profile %>
  <%= link_to "Edit", edit_cheval_booking_path(@booking), class: "btn btn-success" %>
  <%= link_to "Annuler", cancel_path(id: @booking.id), id: "cancel", class: "btn btn-danger" %>
<% end %>
<h1>Votre réservation : </h1>
<h2> Du <%= @booking.start_date %> au <%= @booking.end_date %></h2>
<% jour = ((@booking.end_date.to_time - @booking.start_date.to_time) / 86400).to_i %>
<h3>Statut: <%= @booking.statut %></h3>
<h3>Montant total: <%= jour * @booking.cheval.price %>€</h3>

<h2>Cheval : <%= @booking.cheval.name %></h2>
<p>Robe: <%= @booking.cheval.robe.name %></p>
<p>Catégorie: <%= @booking.cheval.category.name %></p>
<p>Address: <%= @booking.cheval.address %></p>
<p>Prix à la journée: <%= @booking.cheval.price %>€</p>
<p>Taille: <%= @booking.cheval.taille %>cm</p>
<p>Nombre de pattes: <%= @booking.cheval.pattes %></p>
<p>Description: <%= @booking.cheval.description %></p>
<p><strong>Propriétaire: <%= @booking.cheval.profile.first_name %> <%= @booking.cheval.profile.last_name %></strong></p>
<p>Email : <%= @booking.cheval.profile.user.email %></p>
<p>Téléphone : <%= @booking.cheval.profile.phone_number %></p>

<h2>Votre Message :</h2>
<p><%= @booking.message %></p>

